body {
    margin: 48px 0px 0px 64px;
}

.box {
    width: 350px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0 10px 0 20px;

}

#nav {
    top: 0px;
    right: 20px;
    left: 20px;
    position: fixed;
    background: #eee;
    border: 1px solid #ccc;
    padding: 0 10px 0 20px;
}

#nav li {
    float: left;
    padding-top: 5px;
    padding-left: 5px;
}

#nav li a {
    font-family: 'PT Sans', 'sans-serif', 'Arial', 'Times New Roman';
    font-style: normal;
    font-size: xx-large;
    display: inline;
    padding: 15px 15px 15px 15px;
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#nav li a:hover {
    background-color: #084B8C;
    color: white;
}

#nav ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-top: 70px;
}

#logo {
    display: inline;
}

#container {
    margin: auto;
    overflow: auto;
    padding: 160px 0;
    width: 940px;
}

#Tcontainter {
    overflow: auto;
    padding-top: 120px;
    width: auto;
}
.verticalLine {
    border-left: solid #000000;
    padding-left: 15px;

}

#footer {
    padding: 0 10px;
    background: #EEE;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: fixed;
}

#footer p {
    margin: 0;
    padding: 10px 0;
}

.title {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    color: #ff7f1f;
    margin: 15px 0 15px;
    font-family: 'Ubuntu', 'PT Sans', 'sans-serif', 'Arial', 'Times New Roman';
}

.logos img {
    padding: 5px 5px 5px 80px;
    margin: 5px 5px 5px 5px;
    display: block;
}

table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Quicksand';
    padding: 5px;
    font-style: normal;
    font-size: 15px;
    margin: auto;

}

th {
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    color: #811e00;
    font-family: 'Open Sans';
    background-color: antiquewhite;
    text-align: justify;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.variable {
    display: inline;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
    color: darkred;
}

.userinfo {
    display: inline;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 20px;
    color: #084B8C;
}